<li>
  <% if can? :update, @todo_list %>
      <div class="task_item">
        <%= button_to "delete", [@todo_list, message], :method => :delete, :remote => true %>
      </div>
      <div class="task_item">
        <%= check_box_tag 1, 2, message.status, :onclick=>"toggle_task_status(#{@todo_list.id}, #{message.id});" %>
      </div>
  <% else %>
      <span class="task_item">
        <%= check_box_tag 1, 2, message.status, :disabled => true %>
      </span>
  <% end %>
  <%= message.content %>
</li>